* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 550px;
  padding: 20px;
}

.card {
  background: rgba(249, 249, 247, 0.7);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

input,
textarea {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: 0.3s;
}

input:focus,
textarea:focus {
  border-color: #60688a;
  box-shadow: 0 0 6px rgba(102, 126, 234, 0.5);
  outline: none;
}

textarea {
  min-height: 70px;
  resize: none;
}

.help-link {
  margin-top: 10px;
}

.help-btn {
  background-color: #f6c23e;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  color: white;
  font-size: 13px;
  cursor: pointer;
}

.send-btn {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #46c04c;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;

}


@media (max-width: 500px) {
  .card {
    padding: 20px;
  }
}